.nameTask {
  width: 35rem;
  height: 2rem;
  padding: 8px;
  margin: 1rem;
}
.submit {
  font-size: large;
  width: 10rem;
  height: 3rem;
  padding: 8px;
  margin: 1rem;
  background-color: white;
  color: salmon;
  border: solid 2px rgb(216, 107, 95);
  border-radius: 6px;
}
.taskList {
  text-decoration: rgb(216, 107, 95) underline;
  font-size: xx-large !important;
}
