.card {
  width: 100%;
  height: 4rem;
  color: rgb(216, 107, 95);
  border: solid 2px rgb(216, 107, 95);
  display: flex;
  align-items: center;
  margin: 1%;
  padding: 1%;
  border-radius: 6px;
}
.check {
  background: rgb(255, 152, 140);
  color: white;
  text-decoration: line-through;
}
label {
  margin: 1rem;
}
